/* my font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

/* global style */
.judul {
    font-family: "unbounded", sans-serif;
     font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* header style */
header {
    background-color: #c63232;
    color: whitesmoke;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav a {
    color: #f9f9f9;
    text-decoration: underline;
    margin: 5px;
    font-size: 1.2em;
}

/* promo style */
section {
    padding: 20px;
}

section h1 {
    color: #c63232;
}

ul li {
    list-style-type: inside;
}

/* menu style */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 2px solid #000000;
    padding: 12px;
}

th {
    background-color: #c63232;
    color: #fff;
    text-align: left;
}

/* form style */
form {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
}

form input[type="text"],
form input[type="email"],
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

button {
    background-color: #c63232;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a12a2a;
    color: white;
}

/* contact */
#contact p {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
    margin: 10px auto;
}

#contact a {
    color: #c63232;
    text-decoration: solid underline;
}

#contact a:hover {
    color: #a12a2a;
}

/* footer css */
footer {
    background-color: #a12a2a;
    color: whitesmoke;
    padding: 10px;
}